<!DOCTYPE html>
<html lang="en">
<head>
<title>Adithya Systems</title>
<meta charset="utf-8">

<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color: #ddd;
padding:0px;
margin:0px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #f2f2f2;
}
.abc
{
 background-color:#003366;
color:white;
padding:0px;
text-align:center;
height:105px;
margin:0px;
}
/* Style the def */
.def{
  margin:0px;
  padding: 0px;
  height: 250px;
  text-align:center;
  /* Should be removed. Only for demonstration */

}
.button1 {
 cursor: pointer;
height: 70px;
width: 225px;
border-radius: 12px;
margin:10px;
font-size:20px;
background-image: url(uploads/user.jpg); /* 16px x 16px */
   /* make the button transparent */
background-color: #D3D3D3;color:black;
 background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
          /* make the cursor like hovering over an <a> element */
    height: 70px;
       /* make this the size of your image */
    padding-left: 80px;     /* make text start to the right of the image */
    vertical-align: left;
text-align:right;
border: 1.5px solid #555555;
box-shadow: 0 4px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);

}
.button2 {
 cursor: pointer;
height: 70px;
width: 275px;
border-radius: 12px;
margin:10px;
font-size:20px;
background-image: url(uploads/emp.jpg); /* 16px x 16px */
   /* make the button transparent */
background-color: #D3D3D3;color:black;
 background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
          /* make the cursor like hovering over an <a> element */
    height: 70px;
       /* make this the size of your image */
    padding-left: 80px;     /* make text start to the right of the image */
    vertical-align: left;
text-align:right;
border: 1.5px solid #555555;
box-shadow: 0 4px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);

}
.button3{
 cursor: pointer;
height: 70px;
width: 230px;
border-radius: 12px;
margin:10px;
font-size:20px;
background-image: url(uploads/admin.jpg); /* 16px x 16px */
   /* make the button transparent */
background-color: #D3D3D3;color:black;
 background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
          /* make the cursor like hovering over an <a> element */
    height: 70px;
       /* make this the size of your image */
    padding-left: 80px;     /* make text start to the right of the image */
    vertical-align: left;
text-align:right;
border: 1.5px solid #555555;
box-shadow: 0 4px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);

}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  height:150px;
text-align:center;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="#">Forums</a>
  <a href="#">Blogs</a>
  <a href="#">Website</a>
  <a href="#">Videos</a>
  <a href="#">Help Documents</a>
</div><div class="abc">
  <h1>Adithya System and Solutions</h1>
<h1>POS System</h1>
</div>
<div class="def">
  <br>
  <br>
  <br>
  <a href="/userhome"><input type=button value='Login as user' class="button1"></a>
 <a href="/emplogin"><input type=button value='Login as employee' class="button2"></a>
 <a href="/adminlogin"><input type=button value='Login as admin' class="button3"></a>
</div>

<div class="footer">
  <h4>Want to see How POS Works for You?</h4>
</div>

</body>
</html>
