<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Response </title>
<style media="screen">
  h2 {
      width: 100%;

      text-align:center;
  }
</style>
<h2>
  <br><%-response%><br>

</h2>
