<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>form </title>
		<style>

			* {
						box-sizing: border-box;
            border-radius: 5px;

				}

			body {
					margin: 30px;

			}

			h1{
				color: #ffffff;
			}

			.complaint-form
			{
				width: 810px;
				height: 810px;
				margin: 0 auto;
				font-family: Tahoma, Geneva, sans-serif;
			  border-radius: 5px;
			  background-color: #34495E ;
			  padding: 50px;

			}




			.comp-1
			{
				background-color:#AAB7B8


			}

			::placeholder
			{
				color: #34495E
			}

			.complaint-form input[type="password"],
			.complaint-form input[type="text"],
      .complaint-form input[type="url"],
      .complaint-form input[type="number"],
			.complaint-form input[type="email"],
			textarea
			 {
					width: 100%;
					padding: 15px;
					margin-bottom: 15px;
					box-sizing:border-box;
	        border-bottom: 2px thin #34495E;


		      border-radius:10px;;

			}

			.complaint-form input[type="submit"]
			{
				width: 30%;
				padding: 15px;
				background-color: #34495E;


				cursor: pointer;
				font-weight: bold;
				color: #ffffff;

				margin: auto;
  width: 30%;


			}

			.ab{
				margin: 0 auto;
				text-align:center;
			}
			</style>
  </head>
  <body>
    <div class="complaint-form">
      <h1><center>Service Request form </center></h1>
			<div class="comp-1">
      <form action="service_req" method="POST" >
        <br><input type="text" name="cname" placeholder="Company Name" required><br>
        <input type="email" name="email" placeholder="Email-ID" required><br>
          <input type="number" name="phonno" placeholder="your contact number" required><br>
            <input type="url" name="website" placeholder="url of company(if present)" ><br>
        <input type="text" name="subject" placeholder="subject" required><br>

        <textarea name="details" placeholder="what can Adithya Systems and Services do for you!?" cols="50" rows="10" required></textarea><br>

      <div class="ab">  <input type="submit"><br><br></div>
      </form>
		</div>
    </div>
  </body>
</html>
